{% extends "base.html" %}

{% block start %}

<style>
    form{
        max-width: 500px;
        margin: auto;
        border-radius: 10px;
        line-height: 30px;
    }
</style>
<div class="container">
<form action="" method="post" class="border mt-4 p-4">
    {% csrf_token %}
        <h3 class="text-center">Register</h3>
		<label for="username">Username:</label>
		<input type="text" class="form-control" id="username" name="username" required>

		<label for="email">Email:</label>
		<input type="email" class="form-control" id="email" name="email" required>
		
		<label for="mobile">Mobile:</label>
		<input type="text" class="form-control" id="mobile" name="mobile" required>

		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" name="password" required>

		

		
		<input type="submit" value="Submit" class="btn-success mt-4 px-3">
	
		<p>If you have Already Register <a href="{% url 'login' %}">Login</a></p>
</form>
</div>
{% endblock start %}